{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="save" content="history">
    <link rel = "Shortcut Icon" href="{% static 'favicon.ico' %} ">
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.6.9/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.6.9/js/mui.min.js"></script>
    <script type="text/javascript">
      function keydown_event(key){
        var a=key
      }
      function keyup_event(key){
        var a=key
      }
    </script>
    <style type="text/css">
      html {
        height: 100%;
        width:  100%;
        overflow: hidden;
      }
      body {
        height: 100%;
        width:  100%;
      }
      #div_appbar {
        width:  100%;
      }
      #div_streamer {
        background: url(http://{{ host }}:8000/monitor/) no-repeat center center;
        background-size: 80% auto;
        width:  40%;
        height:  100%;
        position:relative;
      }        
      #div_control {
        width:  60%;
        height: 50%;
        position: absolute;
        top: 15%;
        left: 40%;
      }   
      #button_opacity {
        opacity: 0.4;
      }
        #arc-slider {
		height: 110px !important;
		width: 500px !important;
		overflow: hidden;
		padding: 15px;
	}
	
    </style>
    <style>
        #arc-slider {
        height: 110px !important;
        width: 500px !important;
        overflow: hidden;
        padding: 15px;
        }
        #arc-slider .rs-container {
            margin-left: -350px; /* here 350 is the radius value */
            left: 50%;
        }
        #arc-slider .rs-tooltip {
            top: 60px;
        }
        #arc-slider .rs-tooltip-text {
            font-size: 25px;
        }
        #arc-slider .rs-border{
            border-width: 0px;
        }

        /* Appearance related changes */
        .rs-control .rs-range-color {
            background-color: #54BBE0;
        }
        .rs-control .rs-path-color {
            background-color: #5f5f5f;
        }
        .rs-control .rs-handle {
            background-color: #51c5cf;
        }
        </style>
  </head>

  <body class="mui--no-user-select" onkeydown="keydown_event(0)" onkeyup="keyup_event(0)">
    <div id="div_appbar">
      <div class="mui--z2 mui-appbar mui-container-fluid mui--bg-primary-dark mui--appbar-min-height mui--appbar-line-height">
        <div class="mui-row">
          <div class="mui-col-xs-1 mui-col-sm-1", align="right">
            <form class="mui-form" action="/" method="get" id="back">
              <button class="mui-btn mui-btn--flat mui-btn--small" form="back" style="background-color:#000000;background-color:rgba(0,0,0,0)"><img src="{% static "back_unpressed.png" %}"></button>
            </form>
          </div>
          <div class="mui-col-xs-10 mui-col-md-10 mui--text-headline", align="center">
            <div class="mui--appbar-height mui--appbar-line-height">
              PiCar-V
            </div>
          </div>
          <div class="mui-col-xs-1 mui-col-sm-1", align="left">
            <form class="mui-form" action="/cali/" method="get" id="settings">
              <button class="mui-btn mui-btn--flat mui-btn--small" form="settings" style="background-color:#000000;background-color:rgba(0,0,0,0)"><img src="{% static "settings_unpressed.png" %}"></button>
            </form>
          </div>
        </div>
      </div>
      <br>
    </div>
    <script type="text/javascript">
      run_action('bwready');
      run_action('fwready');
      run_action('camready');
      var allowed = true;

      function run_action(value){
        var xmlHttp  = new XMLHttpRequest();
        var protocol  = window.location.protocol;
        var host      = window.location.host;
        var pathname  = window.location.pathname;
        url = protocol + "//" + host + pathname + "?action" + "=" + value;
        //document.getElementById("debug").innerHTML=url;
        xmlHttp.open( "GET", url, false );
        xmlHttp.send( null );
        return xmlHttp.responseText;
      }
      function set_speed(value){
        var xmlHttp  = new XMLHttpRequest();
        var protocol  = window.location.protocol;
        var host      = window.location.host;
        var pathname  = window.location.pathname;
        url = protocol + "//" + host + pathname + "?speed" + "=" + value;
        //document.getElementById("debug").innerHTML=url;
        xmlHttp.open( "GET", url, false );
        xmlHttp.send( null );
        return xmlHttp.responseText;
      }
      function set_save_data() {
        var xmlHttp  = new XMLHttpRequest();
        var protocol  = window.location.protocol;
        var host      = window.location.host;
        var pathname  = window.location.pathname;
        if (document.getElementById('save_data').checked) {
          url = protocol + "//" + host + pathname + "?savedata" + "=1";
        } else {
          url = protocol + "//" + host + pathname + "?savedata" + "=0";
        }
        xmlHttp.open( "GET", url, false );
        xmlHttp.send( null );
        return xmlHttp.responseText;
      }
      function keydown_event(key){
        if (event.repeat != undefined) {
          allowed = !event.repeat;
        }
        if (!allowed) return;
        allowed = false;
        if (key == 0){
          var x;
          if(window.event) { // IE8 以及更早版本
            x=event.keyCode;
          }
          else if(event.which) {// IE9/Firefox/Chrome/Opera/Safari
            x=event.which;
          }
          var keychar=String.fromCharCode(x);
        }
        else{
          keychar = key
        }
        switch(keychar){
          case 'W':
            run_action('forward')
            break;
          case 'S':
            run_action('backward')
            break;
          case 'A':
            run_action('fwleft')
            break;
          case 'D':
            run_action('fwright')
            break;
          case '&':
            run_action('camup')
            break;
          case '(':
            run_action('camdown')
            break;
          case "'":
            run_action('camright')
            break;
          case '%':
            run_action('camleft')
            break;
          case '1':
            set_speed('40')
            break;
          case '2':
            set_speed('55')
            break;
          case '3':
            set_speed('70')
            break;
          case "4":
            set_speed('85')
            break;
          case '5':
            set_speed('100')
            break;
        }
      }
      function keyup_event(key){
        allowed = true;
        if (key == 0){
          var x;
          if(window.event) { // IE8 以及更早版本
            x=event.keyCode;
          }
          else if(event.which) {// IE9/Firefox/Chrome/Opera/Safari
            x=event.which;
          }
          var keychar=String.fromCharCode(x);
        }
        else{
          keychar = key
        }
        switch(keychar){
          case 'W':
            run_action('stop')
            break;
          case 'S':
            run_action('stop')
            break;
          case 'A':
            run_action('fwstraight')
            break;
          case 'D':
            run_action('fwstraight')
            break;
          case '&':
            run_action('camready')
            break;
          case '(':
            run_action('camready')
            break;
          case "'":
            run_action('camready')
            break;
          case '%':
            run_action('camready')
            break;
        }
      }
      function forward_left(){
        run_action('forward')
        run_action('fwleft')
      }
      function forward_right(){
        run_action('forward')
        run_action('fwright')
      }
      function backward_left(){
        run_action('backward')
        run_action('fwleft')
      }
      function backward_right(){
        run_action('backward')
        run_action('fwright')
      }
      function camup_left(){
        run_action('camup')
        run_action('camleft')
      }
      function camup_right(){
        run_action('camup')
        run_action('camright')
      }
      function camdown_left(){
        run_action('camdown')
        run_action('camleft')
      }
      function camdown_right(){
        run_action('camdown')
        run_action('camright')
      }
      function stop(){
        run_action('stop')
        run_action('fwstraight')
      }

      function toggle(targetid){
        if (document.getElementById){
          target=document.getElementById(targetid);
            if (target.style.display=="block"){
              target.style.display="none";
            } else {
              target.style.display="block";
            }
        }
      }
    </script>
    <div id="div_streamer"></div>
    <div id="div_control">
      <div class="mui-row">
        <button class="mui-btn mui--text-subhead" disabled>Speed:</button>
        <button class="mui-btn mui-btn--primary mui-btn--fab" onmousedown="set_speed('0')" id="button_opacity">0</button>
        <button class="mui-btn mui-btn--primary mui-btn--fab" onmousedown="set_speed('20')" id="button_opacity">20</button>
        <button class="mui-btn mui-btn--primary mui-btn--fab" onmousedown="set_speed('30')" id="button_opacity">30</button>
        <button class="mui-btn mui-btn--primary mui-btn--fab" onmousedown="set_speed('40')" id="button_opacity">40</button>
        <button class="mui-btn mui-btn--primary mui-btn--fab" onmousedown="set_speed('50')" id="button_opacity">50</button>
        <button class="mui-btn mui-btn--primary mui-btn--fab" onmousedown="set_speed('60')" id="button_opacity">60</button>
        <button class="mui-btn mui-btn--primary mui-btn--fab" onmousedown="set_speed('70')" id="button_opacity">70</button>
        <button class="mui-btn mui-btn--primary mui-btn--fab" onmousedown="set_speed('80')" id="button_opacity">80</button>
        <button class="mui-btn mui-btn--primary mui-btn--fab" onmousedown="set_speed('90')" id="button_opacity">90</button>
        <button class="mui-btn mui-btn--primary mui-btn--fab" onmousedown="set_speed('100')" id="button_opacity">100</button>
      </div>
      <!-- Control Panel-->
      <!--Forward, Camera up button  ◤◥-->
      <div class="mui-row">
        <div class="mui-col-xs-2 mui-col-sm-2", align="center">
          <button class="mui-btn mui-btn--primary" onmousedown="run_action('forward')" id="button_opacity">▲</button>
        </div>
        <div class="mui-col-xs-2 mui-col-sm-2", align="center">
            <button class="mui-btn mui-btn--primary" onmousedown="run_action('backward')" id="button_opacity">▼</button>
        </div>
        <div class="mui-col-xs-2 mui-col-sm-2", align="center">
          <button class="mui-btn mui-btn--primary" onmousedown="stop()" id="button_opacity">■</button>
        </div>
        <div class="mui-col-xs-2 mui-col-sm-2", align="right">
          <button class="mui-btn mui-btn--primary" ontouchstart="camup_left()"ontouchend="run_action('camready')" id="button_opacity">◸</button>
        </div>
        <div class="mui-col-xs-2 mui-col-sm-2", align="center">
          <button class="mui-btn mui-btn--primary" ontouchstart="run_action('camup')" ontouchend="run_action('camready')" id="button_opacity">△</button>
        </div>
        <div class="mui-col-xs-2 mui-col-sm-2", align="left">
          <button class="mui-btn mui-btn--primary" ontouchstart="camup_right()" ontouchend="run_action('camready')" id="button_opacity">◹</button>
        </div>
      </div>
      <!--Camera Left, Right button-->
      <div class="mui-row">
        <div class="mui-col-xs-2 mui-col-sm-2", align="center">
            <input type="checkbox" id="save_data" name="SaveData" onclick="set_save_data()">
            <label for="save_data">Save Data</label>
        </div>
        <div class="mui-col-xs-2 mui-col-sm-2 mui-col-sm-offset-4 mui-col-xs-offset-6", align="right">
          <button class="mui-btn mui-btn--primary" ontouchstart="run_action('camleft')" ontouchend="run_action('camready')" id="button_opacity">◁</button>
        </div>
        <!--
        <div class="mui-col-xs-2 mui-col-sm-2", align="center">
          <button class="mui-btn mui-btn--primary" ontouchstart="run_action('camready')" ontouchend="run_action('camready')">□</button>
        </div>
        -->
        <div class="mui-col-xs-2 mui-col-sm-2 mui-col-sm-offset-2 mui-col-xs-offset-2", align="left">
          <button class="mui-btn mui-btn--primary" ontouchstart="run_action('camright')" ontouchend="run_action('camready')" id="button_opacity">▷</button>
        </div>
      </div>
      <!--Backward button-->
      <div class="mui-row">
        <div class="mui-col-xs-2 mui-col-sm-2 mui-col-sm-offset-6 mui-col-xs-offset-6", align="right">
            <button class="mui-btn mui-btn--primary" ontouchstart="camdown_left()" ontouchend="run_action('camready')" id="button_opacity">◺</button>
        </div>
        <div class="mui-col-xs-2 mui-col-sm-2", align="center">
            <button class="mui-btn mui-btn--primary" ontouchstart="run_action('camdown')" ontouchend="run_action('camready')" id="button_opacity">▽</button>
        </div>
        <div class="mui-col-xs-2 mui-col-sm-2", align="left">
            <button class="mui-btn mui-btn--primary" ontouchstart="camdown_right()" ontouchend="run_action('camready')" id="button_opacity">◿</button>
        </div>
      </div>
      <div class="mui-row">
          <button class="mui-btn mui-btn--primary" onmousedown="run_action('follow_lane')" id="button_opacity">Follow Lane</button>
      </div>
      <div id="arc-slider" class="rslider"></div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/jquery.roundslider/1.0/roundslider.min.js"></script>
      <link href="https://cdn.jsdelivr.net/jquery.roundslider/1.0/roundslider.min.css" rel="stylesheet">
      <script type="text/javascript">
          function fw_turn(value) {
              run_action('fwturn:' + value)
          }
          $("#arc-slider").roundSlider({
          sliderType: "min-range",
          circleShape: "custom-quarter",
          value: 50,
          startAngle: 45,
          editableTooltip: false,
          radius: 350,
          width: 6,
          handleSize: "+32",
          drag: function (args) {
              fw_turn(args.value + 40)
          },
          tooltipFormat: function (args) {
              return args.value + 40 + " &deg;";
          }
      });
      </script>
    </div>
  </body>
</html>
